<h1><%= @user.username %>'s Gifs</h1>

<% @user.gifs.each do |gif| %>
  <p>
    <%= gif.name %>
  </p>
<% end %>

<%= link_to "Create Category", new_admin_category_path if current_admin? %>

<%= link_to "Back to Home", root_path %>
